.d-flex {
  display: flex;
}

.configuracao-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: calc(100vw - 250px); /* Subtraia a largura da sidebar */
  background-color: #333; /* Cor de fundo */
}

.form-configuracao {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group-config-estacionamento {
  display: flex;
  flex-direction: column;
  width: 100%;
}