.button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #0056b3;
}

.link {
    background-color: #000;
    color: #F5F9E9;
}

.link:hover {
    color: #F5F9E9;
    transform: scale(0.95);
}

